.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not_found a {
  color: #e33d33;
  text-decoration: none;
  padding: 5px;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

.not_found a:hover {
  border-color: #e33d33;
}
  